In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
from datetime import datetime

In [2]:
df=pd.read_csv("scaler_clustering.csv")

In [3]:
df.drop(columns='Unnamed: 0',inplace=True)

In [4]:
df

,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year
0,atrgxnnt xzaxv,6de0a4417d18ab14334c3f43397fc13b30c35149d70c05...,2016.0,1100000,Other,2020.0
1,qtrxvzwt xzegwgbb rxbxnta,b0aaf1ac138b53cb6e039ba2c3d6604a250d02d5145c10...,2018.0,449999,FullStack Engineer,2019.0
2,ojzwnvwnxw vx,4860c670bcd48fb96c02a4b0ae3608ae6fdd98176112e9...,2015.0,2000000,Backend Engineer,2020.0
3,ngpgutaxv,effdede7a2e7c2af664c8a31d9346385016128d66bbc58...,2017.0,700000,Backend Engineer,2019.0
4,qxen sqghu,6ff54e709262f55cb999a1c1db8436cb2055d8f79ab520...,2017.0,1400000,FullStack Engineer,2019.0
...,...,...,...,...,...,...
205838,vuurt xzw,70027b728c8ee901fe979533ed94ffda97be08fc23f33b...,2008.0,220000,NaN,2019.0
205839,husqvawgb,7f7292ffad724ebbe9ca860f515245368d714c84705b42...,2017.0,500000,NaN,2020.0
205840,vwwgrxnt,cb25cc7304e9a24facda7f5567c7922ffc48e3d5d6018c...,2021.0,700000,NaN,2021.0
205841,zgn vuurxwvmrt,fb46a1a2752f5f652ce634f6178d0578ef6995ee59f6c8...,2019.0,5100000,NaN,2019.0
205842,bgqsvz onvzrtj,0bcfc1d05f2e8dc4147743a1313aa70a119b41b30d4a1f...,2014.0,1240000,NaN,2016.0

In [5]:
df.isna().sum()

company_hash           44
email_hash              0
orgyear                86
ctc                     0
job_position        52562
ctc_updated_year        0
dtype: int64

df.describe()

In [6]:
df.drop_duplicates(inplace=True)

## Handle missing values

def missing_values_table(df):
        # Total missing values
        mis_val = df.isnull().sum()
        
        # Percentage of missing values
        mis_val_percent = 100 * df.isnull().sum() / len(df)
        
        # Make a table with the results
        mis_val_table = pd.concat([mis_val, mis_val_percent], axis=1)
        
        # Rename the columns
        mis_val_table_ren_columns = mis_val_table.rename(
        columns = {0 : 'Missing Values', 1 : '% of Total Values'})
        
        # Sort the table by percentage of missing descending
        mis_val_table_ren_columns = mis_val_table_ren_columns[
            mis_val_table_ren_columns.iloc[:,1] != 0].sort_values(
        '% of Total Values', ascending=False).round(1)
        return mis_val_table_ren_columns
    
missing_values_table(df)

In [7]:
df['job_position'].fillna('other',inplace=True)

In [8]:
df

,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year
0,atrgxnnt xzaxv,6de0a4417d18ab14334c3f43397fc13b30c35149d70c05...,2016.0,1100000,Other,2020.0
1,qtrxvzwt xzegwgbb rxbxnta,b0aaf1ac138b53cb6e039ba2c3d6604a250d02d5145c10...,2018.0,449999,FullStack Engineer,2019.0
2,ojzwnvwnxw vx,4860c670bcd48fb96c02a4b0ae3608ae6fdd98176112e9...,2015.0,2000000,Backend Engineer,2020.0
3,ngpgutaxv,effdede7a2e7c2af664c8a31d9346385016128d66bbc58...,2017.0,700000,Backend Engineer,2019.0
4,qxen sqghu,6ff54e709262f55cb999a1c1db8436cb2055d8f79ab520...,2017.0,1400000,FullStack Engineer,2019.0
...,...,...,...,...,...,...
205838,vuurt xzw,70027b728c8ee901fe979533ed94ffda97be08fc23f33b...,2008.0,220000,other,2019.0
205839,husqvawgb,7f7292ffad724ebbe9ca860f515245368d714c84705b42...,2017.0,500000,other,2020.0
205840,vwwgrxnt,cb25cc7304e9a24facda7f5567c7922ffc48e3d5d6018c...,2021.0,700000,other,2021.0
205841,zgn vuurxwvmrt,fb46a1a2752f5f652ce634f6178d0578ef6995ee59f6c8...,2019.0,5100000,other,2019.0
205842,bgqsvz onvzrtj,0bcfc1d05f2e8dc4147743a1313aa70a119b41b30d4a1f...,2014.0,1240000,other,2016.0

# Univariate Analysis

In [9]:
df.columns

Index(['company_hash', 'email_hash', 'orgyear', 'ctc', 'job_position',
       'ctc_updated_year'],
      dtype='object')

In [10]:
df['email_hash'].value_counts()

bbace3cc586400bbc65765bc6a16b77d8913836cfc98b77c05488f02f5714a4b    10
3e5e49daa5527a6d5a33599b238bf9bf31e85b9efa9a94f1c88c5e15a6f31378     9
6842660273f70e9aa239026ba33bfe82275d6ab0d20124021b952b5bc3d07e6c     9
298528ce3160cc761e4dc37a07337ee2e0589df251d73645aae209b010210eee     9
c0eb129061675da412b0deb15871dd06ef0d7cd86eb5f7e8cc6a20b0d1938183     8
                                                                    ..
63933d31becd1487d93d56844919896334e3ae39c4095979816c6fbb8816153a     1
23bcc14067e0fec60b8772b3e20abbb8fa9f2146738d37056e0d20d33a97c690     1
5a1c9d9a745d6ee95136047698dba8f68f00bac522de6d83d18cf062f7286e22     1
062597458dc597d35b2dbf3e417ac160244dc8c3dd50fce716837dc1e6fc7a10     1
0bcfc1d05f2e8dc4147743a1313aa70a119b41b30d4a1f7e738a6a87d3712c31     1
Name: email_hash, Length: 153443, dtype: int64

## Making some new features like adding ‘Years of Experience’ column by subtracting orgyear from current year

In [11]:
df.columns

Index(['company_hash', 'email_hash', 'orgyear', 'ctc', 'job_position',
       'ctc_updated_year'],
      dtype='object')

In [12]:
currentYear = datetime.now().year
currentYear

2023

In [13]:
type(currentYear)

int

In [14]:
df['Years of Experience']=currentYear-df['orgyear']

## You may have to remove special characters from the dataset by using Regex

In [15]:
# import re

# def split_it(x):
#     return re.sub('[^A-Za-z0-9 ]+', '', x)

# cols=['company_hash','email_hash','job_position']
# for i in cols:
#     df[i]= df[i].apply(lambda x: split_it(x))

## Manual Clustering

In [16]:
new_df=df.groupby('company_hash')['ctc'].describe()

In [17]:
df.shape

(205810, 7)

In [18]:
new_df.reset_index(inplace=True)

In [19]:
new_df.columns

Index(['company_hash', 'count', 'mean', 'std', 'min', '25%', '50%', '75%',
       'max'],
      dtype='object')

In [20]:
df_new=pd.merge(df,new_df)

In [21]:
df_new.drop(columns=['mean','std','min','max'], axis=1,inplace=True)

In [22]:
df_new

,company_hash,email_hash,orgyear,ctc,job_position,ctc_updated_year,Years of Experience,count,25%,50%,75%
0,atrgxnnt xzaxv,6de0a4417d18ab14334c3f43397fc13b30c35149d70c05...,2016.0,1100000,Other,2020.0,7.0,9.0,800000.0,1070000.0,1500000.0
1,atrgxnnt xzaxv,a309a8c6610af7e9f0a88cfb67f9a0095b0dde63475475...,2019.0,500000,Backend Engineer,2020.0,4.0,9.0,800000.0,1070000.0,1500000.0
2,atrgxnnt xzaxv,ffc974693a2bfd0326c707d8460d6783861a9497e538e2...,2017.0,1700000,Data Scientist,2020.0,6.0,9.0,800000.0,1070000.0,1500000.0
3,atrgxnnt xzaxv,b4dcd1e7ac426014a32ae303e4b527325d482e4d2c4bef...,2014.0,1000000,Backend Engineer,2018.0,9.0,9.0,800000.0,1070000.0,1500000.0
4,atrgxnnt xzaxv,0d2f25432591093f5907a8681d600f869bbe7c2ae39cd7...,2017.0,600000,Android Engineer,2021.0,6.0,9.0,800000.0,1070000.0,1500000.0
...,...,...,...,...,...,...,...,...,...,...,...
205761,yjutq nqvwp,3201950d49607287627626a0c3568cad1ab7b9ecc11e7d...,2012.0,2100000,other,2018.0,11.0,1.0,2100000.0,2100000.0,2100000.0
205762,yga xzzgcvnxgz rvm ucn rna,82fb93cc69f801b77356fb6b3c139d823d9c05be8552f0...,2013.0,840000,other,2019.0,10.0,1.0,840000.0,840000.0,840000.0
205763,ztdnowb xzwqtee,29f02bc29797857294cfcd44273ad42f64281ea79203f0...,2014.0,5266000,other,2015.0,9.0,1.0,5266000.0,5266000.0,5266000.0
205764,mrht onvnt axsxnvr,5feda7334a13c3f92937c0b3c4048aaab617edaf59ee4e...,2013.0,85000,other,2016.0,10.0,1.0,85000.0,85000.0,85000.0
205765,bvptbjnqxu td vbvkgz,6b163240ed6d31edd56950011b578d1cf255c7515c3f16...,2015.0,2400000,other,2019.0,8.0,1.0,2400000.0,2400000.0,2400000.0

In [23]:
df_new['designation']=0

In [24]:
data_dict = df_new.to_dict()
for i in range(205766) :
    if data_dict['ctc'][i]>= data_dict['75%'][i]:
        data_dict['designation'][i]=1
    elif data_dict['ctc'][i]>=data_dict['50%'][i] and data_dict['ctc'][i]<=data_dict['75%'][i] :
        data_dict['designation'][i]=2 
    elif data_dict['ctc'][i]<=data_dict['25%'][i]:
        data_dict['designation'][i]=3

In [25]:
df_new=pd.DataFrame(data_dict)

In [26]:
df_new['class']=0
df_new.drop(columns=['75%','50%','25%'], axis=1,inplace=True)

In [27]:
df_new=df_new.groupby(['company_hash','job_position'])['ctc'].describe()
new_df.reset_index(inplace=True)
df_new=pd.merge(df,new_df)
df_new.drop(columns=['mean','std','min','max'], axis=1,inplace=True)

In [28]:

data_dict = df_new.to_dict()
for i in range(205766) :
    if data_dict['ctc'][i]>= data_dict['75%'][i]:
        data_dict['class'][i]=1
    elif data_dict['ctc'][i]>=data_dict['50%'][i] and data_dict['ctc'][i]<=data_dict['75%'][i] :
        data_dict['class'][i]=2 
    elif data_dict['ctc'][i]<=data_dict['25%'][i]:
        data_dict['class'][i]=3
        
df_new=pd.DataFrame(data_dict)

KeyError: 'class'

In [ ]:
df_new