In [1]:
import numpy as np
import pandas as pd

In [2]:
diff = np.array([85, 74, 63.5, 69.4, 71.6, 65,90,78]) - np.array([82, 71, 64, 65.2, 67.8, 64.7,95,77])

In [3]:
diff

array([ 3. ,  3. , -0.5,  4.2,  3.8,  0.3, -5. ,  1. ])

In [4]:
t_s = np.mean(diff) - 0 / (np.std(diff)/np.sqrt(len(diff)))

In [5]:
t_s

1.2249999999999996

In [9]:
dof = len(diff) - 1
dof

7

In [14]:
t_val = round(t.isf(q = 0.10, df = dof), 2)
t_val

1.41

In [6]:
from scipy.stats import t

In [10]:
t.cdf(1.224,7)

0.8697266861596505

In [12]:
t.pdf(0.90,7)

0.24845006240500964

In [15]:
df = pd.read_csv('percentiles.csv')

In [16]:
df

       Unnamed: 0      Dist1      Dist2
0               0   0.000483   0.014939
1               1   0.002950   0.041212
2               2   0.004308   0.051100
3               3   0.005412   0.058199
4               4   0.008340   0.074554
...           ...        ...        ...
49995       49995  99.992134  96.804505
49996       49996  99.995023  97.306047
49997       49997  99.996875  97.736447
49998       49998  99.997964  98.072219
49999       49999  99.999562  98.919901

[50000 rows x 3 columns]

In [17]:
from scipy import stats

In [18]:
stats.ks_2samp(df['Dist1'],df['Dist2'])

KstestResult(statistic=0.34346000000000004, pvalue=0.0)

In [19]:
from scipy.stats import chi2

In [29]:
chi2.ppf(0.95,2)

5.991464547107979

In [28]:
1 - chi2.cdf(0.7533,2)

0.6861561865391452